* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background: #000;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#Illu {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #5f5f5f;
    color: #000;
}

.container {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}

.square {
    height: 94%;
    width: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
    background: linear-gradient(-45deg, #ffee00, #ff0062, #4ab0d4, #41ecc4);
    animation: rotate 18s infinite linear;
}

.black {
    background: #000;
    animation-delay: 1s;
    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    10% {
        transform: scale(0.9);
    }
    
    20% {
        transform: skew(2deg, 5deg);
    }

    30% {
        transform: rotate(-45deg);
    }

    60% {
        transform: skew(-2deg, -5deg);
    }

    90% {
        transform: rotate(45deg);
    }

    100% {
        transform: initial;
    }

}